@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/assets/Welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor:url('/assets/Normal Select.cur'), auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  padding: 10px;
  font-weight: bold;
}

.logo img {
  height: 40px; /* Adjust the height as needed */
}

/* Navbar options hover effect */
.navbar-nav .nav-item:hover .nav-link {
  background-color: #2072a6; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
  border-radius: 5px; /* Add a slight border-radius on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
}


.navbar-buttons {
  display: flex;
}
.navbar-brand img {
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


/* Customize the background color and text color of dropdown items on hover */
.dropdown-menu a.dropdown-item:hover {
  background-color: #3498db;
  color: white;
}


.Title{
  color: #3f7ea8;
  /* color: white; */
  margin-top: 20px;
  font-family: 'Bevan', serif;
  font-weight: 600;
  font-style: italic;
}

.card {
  width: 550px;
  height: max-content;
  background: linear-gradient(45deg, #3498db, #935dab); /* Gradient background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
  }

  .profile-title {
    color: #fff; /* White text color on the gradient background */
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    transform: translateZ(0); 
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  
  .profile-item {
      color: #eee; /* Lighter text color on the gradient background */
      font-size: 1.3rem;
      margin-bottom: 1rem;
  }

  
  


#Yarn {
  font-weight: 900;
  font-style: italic;
  transition: color 0.5s ease; /* Add a smooth transition effect */
}

#Yarn:hover {
  color: #e0585c; /* Change the color to red on hover */
}





/* button {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  padding: 12px 20px; 
  border: none;
  cursor: pointer;
  border-radius: 8px; 
  background-color: #3498db; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

button:hover {
  background-color: #2072a6; 
  transform: scale(1.05);
} */


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust the padding as needed */
}

.box {
  width: 50%; /* Adjust the width as needed */
}



.elements{
  display: flex;
  gap: 15%;
  justify-content: center;
  margin-top: 30px;
  
  /* position: fixed; */
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10%;
  
}

.gameopt{
  display: flex;
  flex-direction: column;
  gap:10px;
 margin-top: 60%; 
}

.btngame{
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px 37px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.btngame:hover{
  background-color: #c3e6e3;
  color: #3498db;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}


#eventsfloating {
  position: fixed;
  bottom: 20px;
  right: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#eventsfloating svg {
  margin-right: 5px;
}

#popover {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  background: linear-gradient(45deg, #3498db, #935dab);  
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* #popovertxt{
  background-color: linear-gradient(45deg, #3498db, #935dab); 
  text-decoration: none;
} */


#popover ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#popover li {
  color: #fff; /* Text color for the list items */
  margin-bottom: 5px;
}

#popovertxt {
  background: none; /* Remove the background from the button */
  color: #fff; /* Text color for the button */
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: start;
}



/* mobile */
@media screen and (max-width: 768px) {  
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

.buttons{
  justify-content: center;
  flex-direction: row;
}

#eventsfloating svg{
  width: 25px;
  height: 25px;
}

#eventsfloating{
right: 16px;
}
#popover{
  right: 16px;
  }
  #gameForm{
    position: relative;
    left: 14%;
  }

  #playGameBtn {
    font-size: 1.7em;
    position: relative;
    left: 1.7rem;
    padding: 8px 16px;
  }

  .box{
    height: max-content;
    width: max-content;
    margin: auto;
    align-items: center;
    .Name{
      padding: 0.5rem;
      font-size: 1.2rem;
    }
  }
.elements{
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.gameopt{
  margin-top: 10%;
}
  .card{
    height: max-content;
    width: max-content;
    margin: auto;
    align-items: center;
    left:0%;
    top:11px;
    .profile-title{
      text-align: center;
      size:1.5rem;

    }
  }
  
}


/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card{
    height: 325px;
    width: 400px;
    margin: auto;
    
    
    .profile-title{
      text-align: center;
    }
  }
  #gameForm{
    position: relative;
    left: 30%;
  }
}

